.code { // общее поведение окна с кодом для всех
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  color: var(--color-title);
  cursor: auto;

  &::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    content: "";
  }

  &.active {
    display: block;

    @include for-size(desktop-big) {
      @include flexbox(center);
    }
  }
}

.code-container--content {
  position: relative;
  z-index: 100;
  min-height: 100vh;
  margin: auto;
  background: var(--color-cards);
  // background: linear-gradient(318.32deg, #C3D1E4 -0.02%, #DDE7F3 54.14%, #D4E0ED 100.43%);
  box-shadow: inset 0 0 1px rgba(64, 64, 65, 0.507), 4.5rem 7rem 9rem rgba(89, 90, 92, 0.671);

  @include for-size(desktop-big) {
    min-height: unset;
    margin: 3.25rem auto;
    border-radius: 2rem;
  }
}

.code__content {
  padding: 3.75rem 1.25rem;

  @include for-size(desktop-big) {
    padding: 5rem 3.75rem;
  }

  @include for-size(phone) {
    padding: 5rem 0 3.75rem;
  }
}

.code__header {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  margin-left: -0.187rem;
  font-weight: 700;
  font-size: $font-header;
  line-height: 1;
  letter-spacing: -0.03em;

  @include flexbox(space-between);

  @include for-size(phone) {
    font-size: $font-title;
  }
}

.code__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.75rem 0;
  border-bottom: 1px solid $color-shade-2;

  @include for-size(phone) {
    padding: 1.25rem 0 0;
  }

  & > :last-child {
    margin-bottom: 0;

    @include for-size(phone) {
      margin-bottom: 2rem;
    }
  }
}

.code-methods__heading {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: $font-up;
  line-height: 1.5;
}

.code__text {
  font-weight: normal;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include for-size(phone) {
    margin-bottom: 1.25rem;
    font-size: $font-regular;
  }

  &--heading {
    margin-bottom: 0.5rem !important;
    font-weight: bold;
  }
}

.blockquote {
  margin: 2rem 1.5rem;
  padding: 2rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  background: var(--bg-color-element);
  border-radius: 1.5rem;
  box-shadow: var(--box-inner-shadow);

  &--center {
    align-self: center;
  }

  & ~ & {
    margin-top: 3rem;
  }

  @include for-size(phone) {
    margin: 1rem 0 2rem;
    padding: 1.5rem;
  }

  & footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
}

.code__footer {
  position: absolute;
  top: var(--close-value);
  right: var(--close-value);
  --close-value: 2rem;

  @include for-size(phone) {
    --close-value: 1.5rem;
  }

  @include for-size(phone-mini) {
    --close-value: 1.2rem;
  }
}

.close {
  position: relative;
  width: var(--close-value);
  height: var(--close-value); // кнопка закрыть

  @include flexbox(center);
}

.close__item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 0.2rem;
  background: $color-regular;

  &:first-child {
    transform: translate(-50%) rotate(45deg);
  }

  &:last-child {
    transform: translate(-50%) rotate(-45deg);
  }
}

.code-container {
  display: inline-block;
  padding: 0 0.25rem;
  font-size: inherit;
}

.code__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 7rem;
  padding: 5rem 2rem;
  line-height: 1.5rem;
  column-gap: 3.5rem;

  @include for-size(phone) {
    grid-template-columns: repeat(auto-fit, minmax(calc(320px - 6rem), 1fr));
    padding: 5rem 1rem;
  }

  & p {
    @include for-size(phone) {
      font-size: 1rem;
    }
  }
}

.code-method {
  &::before {
    @include pseudo($pos: relative, $content: attr(data-text));
    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
    text-transform: capitalize;

    @include for-size(phone) {
      font-size: 1.5rem;
    }
  }

  & > :not(:last-child) {
    margin-top: 2.5rem;

    @include for-size(phone) {
      margin-top: 4rem;
    }
  }
}

.code-method__form {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;

  @include for-size(phone) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.code-method__input {
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-bottom: 1px solid #d3d3d3;

  &:hover,
  &:focus {
    border-bottom-color: rgba(136, 165, 191, 0.58);
    outline: none;
  }
}

.code-method__list {
  &:empty {
    display: none;
  }

  &:not(:empty) {
    margin-top: 3.5rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow:
      inset -3px -3px 7px #ffffff,
      inset 3px 3px 7px rgba(136, 165, 191, 0.58),
      -4px -2px 0.5rem #ffffff,
      4px 2px 0.5rem rgba(136, 165, 191, 0.58);
  }

  &--fizzbuzz {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem !important;

    .code-method__item {
      margin: 0;
      padding: 0.5rem 0.4rem !important;
      text-align: center;
      border: none !important;
      border-radius: 0.5rem;
      box-shadow:
        inset -1px -1px 3px #ffffff,
        inset 1px 1px 3px rgba(136, 165, 191, 0.58),
        -2px -1px 0.5rem #ffffff,
        2px 1px 0.5rem rgba(136, 165, 191, 0.58);

      &--result-1 {
        color: #d6e1ef;
        background: linear-gradient(-45deg, #8c60b1, #9266bb);
        box-shadow:
          2px 2px 0.6rem rgba(185, 84, 231, 0.288),
          2px 2px 0.6rem rgba(192, 23, 244, 0.185);
      }

      &--result-2 {
        color: rgb(239, 245, 252);
        background: linear-gradient(-45deg, #e63067, #f33363);
        box-shadow:
          2px 2px 0.6rem rgba(231, 84, 140, 0.356),
          2px 2px 0.6rem rgba(244, 23, 78, 0.397);
      }
    }

    @include for-size(phone) {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 -1rem;
      font-size: 13px;
    }

    @include for-size(iphone-5s) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}


.code-method__item {
  margin: 1rem;

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #d3d3d3;
  }
}


.code-methods {
  margin: 2rem 0;
}

.code-methods__item {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.code__frame {
  width: 100%;
  height: 800px;
  padding: 0.5rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.58), -4px -2px 0.5rem #ffffff, 4px 2px 0.5rem rgba(136, 165, 191, 0.58);

  @include for-size(phone) {
    width: 100vw;
    margin: 0 -1rem;
  }
}
