
.fizzbuzz {
  display: none;

  &.active {
    display: flex;
  }
}


// Форма для Fizzbuzz
.code__form {
  padding: 3.75rem 0;
}

.code__row {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  &:last-child {
    margin-top: 2rem;
  }

  &--grid {
    display: grid;
    grid-template-columns: 12rem 6rem;
    gap: 1rem;
    align-items: center;
  }
}

.code__input {
  display: block;
  max-width: 5rem;
  padding: 0.25rem 0.5rem;
  color: $color-shade;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #3e9ce8;
  border-radius: 0.5rem;
}

.button-fizzbuzz {
  padding: 1rem 2rem;
  color: $color-white;
  background: #3e9ce8;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background: #42a5f5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  }
}

.result__grid { // контейнер с результатами вычисления
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0.1rem;
}

.result__header {
  grid-row: 1 / 3;
  grid-column: -1 / 1;
  padding: 1rem 1.5rem;
  color: $color-white;
  background: #42a5f5;

  @include for-size(phone) {
    font-size: $font-up + 0.2rem;
  }
}

.result__item {
  padding: 1rem 1.5rem;
  text-align: center;
  background: #f0f0f0;

  @include for-size(phone) {
    font-size: $font-regular;
  }

  &--fizz,
  &--buzz {
    background: #42a4f542;
  }

  &--fizzbuzz {
    color: $color-white;
    background: #42a5f5;
  }
}
