.grid-text-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  align-items: center;
  margin: 0 0 2rem 0;
  padding-right: 2rem;

  @include for-size(laptop) {
    grid-template-columns: 1fr;
    padding: 0;

    .blockquote--center {
      justify-self: center;
      padding: 2rem;
    }
  }

  & > * {
    margin: 0 !important;
  }
}

.blockquote--center {
  box-shadow:
    inset -3px -3px 8px #ffffff,
    inset 3px 3px 8px rgba(136, 165, 191, 0.58),
    -4px -2px 0.5rem #ffffff,
    4px 2px 0.5rem rgba(136, 165, 191, 0.58);
}

// Форма для ввода значений

.code-method--fizzbuzz .code-method__form--fizzbuzz {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
}

.code-method__row {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 8rem);
  gap: 1rem;
  align-items: center;
}

.code-method__input--fizz[type="number"],
.code-method__input--buzz[type="number"] {
  position: relative;
  justify-self: self-end;
  width: 100%;
  max-width: 4rem;
  padding: 1.25rem 0;
  text-align: center;
  border: none;
  border-radius: 50%;
  box-shadow:
    inset -1px -1px 3px #ffffff,
    inset 1px 1px 3px rgba(136, 165, 191, 0.58),
    -1px -2px 0.5rem #ffffff,
    1px 2px 0.5rem rgba(136, 165, 191, 0.58);

  &:focus {
    background: var(--bg-input);
    outline: none;
    box-shadow:
      inset -2px -2px 5px #ffffff,
      inset 2px 2px 5px rgba(136, 165, 191, 0.58),
      0 0 0 #ffffff,
      0 0 0 rgba(136, 165, 191, 0.58);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
  }
}
