.page__title {
  margin-top: -0.5rem;
  margin-bottom: 3rem;
  margin-left: -0.187rem;
  font-weight: 700;
  font-size: $font-header;
  line-height: 1;
  letter-spacing: -0.03em;

  @include for-size(phone) {
    font-size: $font-title;
  }
}

.hero__text {
  margin-bottom: 1.75rem;
  line-height: 1.58;

  @include for-size(phone) {
    margin-bottom: 1.25rem;
    font-size: $font-regular;
  }
}

.hero__description {
  padding: 3.75rem 1.25rem 0;
}

