// MAIN

.page__title {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  margin-left: -0.187rem;
  font-weight: 700;
  font-size: $font-header;
  letter-spacing: -0.03em;
  line-height: 1;

  @include for-size(phone) {
    font-size: $font-title;
  }
}

.hero__text {
  line-height: 1.5;

  @include for-size(phone) {
    margin-bottom: 1.25rem;
    font-size: $font-regular;
  }

  &:not(:last-child) {
    margin-bottom: .75rem;
  }
}

.hero__description {
  max-width: 850px;
  padding: 3.75rem 1.25rem 0;
}

