.code__content--str-reverse {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7rem;
  line-height: 1.5rem;

  & p {
    @include for-size(phone) {
      font-size: 1rem;
    }
  }
}


.code__content-list {
  margin-left: 1.5rem;
  list-style-type: circle;

  b {
    font-weight: 500;
  }

  @include for-size(phone) {
    font-size: 1rem;
  }
}

.code__text--heading {
  font-weight: bold;
}

.reverse__method {
  &::before {
    @include pseudo($pos: relative, $content: attr(data-text));
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
    text-transform: capitalize;

    @include for-size(phone) {
      font-size: 1.5rem;
    }
  }


  & > :not(:last-child) {
    margin-bottom: 2.5rem;

    @include for-size(phone) {
      margin-bottom: 4rem;
    }
  }
}

.reverse__form {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;

  @include for-size(phone) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

// text
.code__text-function {
  color: $color-selection;
}

.code--str-reverse pre.blockquote {
  margin-top: 2rem;
  margin-bottom: 3rem;
  overflow-x: scroll;
}

.code__text-function-result {
  color: hsl(207, 90%, 61%);
}

.result__value,
.result__output {
  font-weight: 500;
}

.reverse-list__item {
  margin: 1rem;

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #d3d3d3;
  }
}

.reverse__list {
  padding: 1rem;
  border-radius: 2rem;
  box-shadow:
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgba(136, 165, 191, 0.58),
    -4px -2px 0.5rem #ffffff,
    4px 2px 0.5rem rgba(136, 165, 191, 0.58);
}

.reverse__input {
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-bottom: 1px solid #d3d3d3;

  &:hover,
  &:focus {
    border-bottom-color: rgba(136, 165, 191, 0.58);
    outline: none;
  }
}

.button--reverse {
  padding: 1rem 2rem;
  color: inherit;
  background: transparent;
  border-radius: 1.5rem;
  box-shadow:
    inset 0 0 0 #ffffff,
    inset 0 0 0 rgba(136, 165, 191, 0.58),
    -4px -2px 0.5rem #ffffff,
    4px 2px 0.5rem rgba(136, 165, 191, 0.58);

  &:hover,
  &:focus {
    outline: none;
    box-shadow:
      inset -3px -3px 7px #ffffff,
      inset 3px 3px 7px rgba(136, 165, 191, 0.58),
      0 0 0 #ffffff,
      0 0 0 rgba(136, 165, 191, 0.58);
  }
}
