.social-buttons__list {
  --sb-value: 5.6rem;
  --icon-value: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, var(--sb-value)));
  gap: 1.25rem;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  &::before {
    content: attr(data-text);
    display: block;
    grid-column: -1/1;
    margin-bottom: $font-title;
    text-align: center;
    font-size: $font-title;
    font-weight: 500;

    @include for-size(phone) {
      font-size: $font-title - 0.5rem;
    }
  }

  a {
    outline: none;
  }
}

.social-button__list-item {
  position: relative;
}

@mixin config-icon-colors($prefix, $colors...) {
  @each $i in $colors {
    .#{$prefix}#{nth($i, 1)} {
      color: nth($i, 2);
      background: linear-gradient(45deg, transparent 25%, nth($i, 2) 25%, nth($i, 2) 50%, transparent 50%);
      background-position: 100% 85%;
      background-size: 200% 200%;
      animation: sbHoverOut 1.5s ease alternate forwards;

      &:focus,
      &:hover {
        background: linear-gradient(45deg, transparent 25%, nth($i, 2) 25%, nth($i, 2) 75%, transparent 75%);
        background-size: 200% 200%;
        animation: sbHover 1.2s ease alternate forwards;
      }
    }
  }
}

@include config-icon-colors("social-button__link--", "facebook" var(--color-fb), "vk" var(--color-vk), "instagram" var(--color-in), "telegram" var(--color-tg), "youtube" var(--color-yt), "github" var(--color-gh), "twitter" var(--color-tw), "behance" var(--color-be), "linkedin" var(--color-ln));

.social-button__link {
  --color-fb: #3b5998;
  --color-tw: #00acee;
  --color-vk: #4c75a3;
  --color-in: #dc2743;
  --color-in-bg: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  --color-yt: #c4302b;
  --color-gh: #333333;
  --color-tg: #0088cc;
  --color-be: #053eff;
  --color-ln: #0e76a8;  
  --color-sb-modern: #fffdfd;

  @include flexbox(center);
  width: var(--sb-value);
  height: var(--sb-value);
  // background: var(--color-sb-modern);
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 5px 15px -5px #00000070;
  appearance: button;

  &:hover .icon--social-button,
  &:focus .icon--social-button {
    color: var(--color-sb-modern);
    transform: scale(1.3);
  }

  &--instagram:hover,
  &--instagram:focus {
    background: linear-gradient(45deg, transparent 25%, #f09433 25%, #e6683c 37.5%, #dc2743 50%, #cc2366 62.5%, #bc1888 75%, transparent 75%);
    background-size: 200% 200%;
    animation: sbHover 1.2s ease alternate forwards;
  }

  .neumorph & {
    color: inherit;
    background: transparent;
    border-radius: 1.5rem;
    box-shadow:
      inset 0 0 0 #ffffff,
      inset 0 0 0 rgba(136, 165, 191, 0.58),
      -4px -2px 0.5rem #ffffff,
      4px 2px 0.5rem rgba(136, 165, 191, 0.58);


    &:hover,
    &:focus {
      box-shadow:
        inset -3px -3px 7px #ffffff,
        inset 3px 3px 7px rgba(136, 165, 191, 0.58),
        0 0 0 #ffffff,
        0 0 0 rgba(136, 165, 191, 0.58);

      .icon--social-button {
        color: inherit;
        transform: scale(0.95);
      }
    }
  }
}

.icon {
  width: var(--icon-value);
  height: var(--icon-value);
  transition: all 0.1s ease;
}

@keyframes sbHover {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 60%;
  }

  75% {
    background-position: 100% 40%;
  }

  100% {
    background-position: 100% 85%;
  }
}

@keyframes sbHoverOut {
  0% {
    background-position: 0% 85%;
  }

  50% {
    background-position: 100% 40%;
  }

  75% {
    background-position: 0% 60%;
  }

  100% {
    background-position: 100% 0%;
  }
}
