.code--clocks canvas {
  --clock-value: 400px;
  display: block;
  width: var(--clock-value);
  height: var(--clock-value);
  margin: 3rem auto;
  padding: 1rem;
  background: #e3edf7;
  border: 5px solid #e3edf7;
  border-radius: 50%;
  box-shadow:
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgba(136, 165, 191, 0.58),
    -16px -2px 56px #ffffff,
    16px 10px 48px rgba(136, 165, 191, 0.58);

  @include for-size(phone) {
    --clock-value: 290px;
  }
}

.code--canvas .code__body {
  display: grid;
  grid-template-columns: 1fr;

  @include for-size(desktop-big) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.code__content--canvas-ball,
.code__content--canvas-wizard {
  @include flexbox(center);
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 5rem;
  }
}

.challenge--canvas canvas {
  $canvas-ball-value: 40rem;
  --canvas-ball-value: $canvas-ball-value;
  width: 100%;
  max-width: var(--canvas-ball-value);
  max-height: var(--canvas-ball-value);
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow:
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgba(136, 165, 191, 0.58),
    -4px -2px 0.5rem #ffffff,
    4px 2px 0.5rem rgba(136, 165, 191, 0.58);

  @include for-size(phone) {
    width: 100%;
  }
}

.button--canvas {
  padding: 1rem 2rem;
  color: $color-white;
  background: #3e9ce8;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    background: #42a5f5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  }
}

.button--controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.button--move-controls {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: minmax(2rem, 1fr) minmax(2rem, 2fr) minmax(2rem, 1fr);
  gap: 3rem 0;

  @include for-size(phone) {
    grid-template-columns: repeat(3, minmax(2rem, 7.25rem));
    gap: 3rem;
  }

  @include for-size(iphone-5s) {
    grid-template-columns: repeat(3, minmax(2rem, 1fr));
    gap: 1rem 2rem;
  }
}

.button--up {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.button--right {
  grid-row: 1 /3;
  grid-column: 3 / 4;
}

.button--down {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.button--left {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.wizard-image {
  display: none;
}
