// Challenges

.challenges {
  margin-bottom: 3.75rem;
}

.challenges__description {
  padding: 0.75rem 1.25rem 3.75rem;
}

.challenges__container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 1.25rem;
}


.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  gap: 1.25rem;

  @media screen and (max-width: 22.5rem) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.filter__item {
  @include for-size(phone) {
    flex-grow: 1;
  }
}

.filter__button {
  color: transparentize($color: #31456a, $amount: 0.5);
  font-weight: 700;
  font-size: $font-up;
  outline: none;

  &:hover,
  &:focus {
    color: #68778a;
  }

  &.active {
    position: relative;
    color: inherit;

    &::after {
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      display: block;
      width: 0%;
      height: 2px;
      background: var(--color-title);
      content: "";
    }

    &:hover,
    &:focus {
      &::after {
        width: 100%;
      }
    }
  }
}

.challenges__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 500;
  background: linear-gradient(-45deg, hsl(207, 32%, 94%) 50%, #f5f8fa  50%);
  // background: linear-gradient(-45deg, hsl(220, 47%, 96%) 50%, hsl(209, 53%, 90%) 50%);
  // --color-cards: linear-gradient(to bottom, #f1f5f8 0%, #ebf3fa 0.01%, #dde7f3 53.92%, #e5f0f9 100%); #deecf8 #e5f0f9
  // background: linear-gradient(-45deg, #f1f5f8 50%, #e5f0f9  50%);
  background-position: 100% 100%;
  background-size: 200% 200%;
  border-radius: 1.5rem;
  box-shadow:
    inset 0 0 0 #ffffff,
    inset 0 0 0 rgba(136, 165, 191, 0.58),
    -4px -2px 0.5rem #ffffff,
    4px 2px 0.5rem rgba(136, 165, 191, 0.58);

  &:hover,
  &:focus {
    background-position: 0% 100%;
    box-shadow:
      inset -4px -2px 0.5rem #ffffff,
      inset 4px 2px 0.5rem rgba(136, 165, 191, 0.58),
      0 0 0 #ffffff,
      0 0 0 rgba(136, 165, 191, 0.58);
  }


  .challenge--interview & {
    color: white;
    background: linear-gradient(-45deg, hsl(207, 79%, 58%) 50%, hsl(207, 90%, 61%) 50%);
    background-position: 100% 100%;
    background-size: 200% 200%;

    &:hover,
    &:focus {
      background-position: 0% 100%;
      box-shadow:
        inset 0 0 0 #ffffff60,
        inset 0 0 0 rgba(136, 165, 191, 0.58),
        0 0 0 #ffffff,
        0 0 0 rgba(136, 165, 191, 0.58);
    }

    .tag__badge {
      color: white;
    }
  }

  // .challenge--previous & {
  //   color: white;
  //   background: linear-gradient(-45deg, #30e6e6 50%, #f3a633 50%);
  //   background-position: 100% 100%;
  //   background-size: 200% 200%;

  //   &:hover,
  //   &:focus {
  //     background-position: 0% 100%;
  //     box-shadow:
  //       inset 0 0 0 #ffffff60,
  //       inset 0 0 0 rgba(136, 165, 191, 0.58),
  //       0 0 0 #ffffff,
  //       0 0 0 rgba(136, 165, 191, 0.58);
  //   }

  //   .tag__badge {
  //     color: white;
  //   }
  // }

  .challenge--inspiration & {
    color: white;
    background: linear-gradient(-45deg, #e63067 50%, #f33363 50%);
    background-position: 100% 100%;
    background-size: 200% 200%;

    &:hover,
    &:focus {
      background-position: 0% 100%;
      box-shadow:
        inset 0 0 0 #ffffff60,
        inset 0 0 0 rgba(136, 165, 191, 0.58),
        0 0 0 #ffffff,
        0 0 0 rgba(136, 165, 191, 0.58);
    }

    .tag__badge {
      color: white;
    }
  }

  .challenge--course & {
    color: white;
    // background: linear-gradient(-45deg, #60b163 50%, #66bb69 50%);
    background: linear-gradient(-45deg, #8c60b1 50%, #9266bb 50%);
    background-position: 100% 100%;
    background-size: 200% 200%;

    &:hover,
    &:focus {
      background-position: 0% 100%;
      box-shadow:
        inset 0 0 0 #ffffff60,
        inset 0 0 0 rgba(136, 165, 191, 0.58),
        0 0 0 #ffffff,
        0 0 0 rgba(136, 165, 191, 0.58);
    }

    .tag__badge {
      color: white;
    }
  }
}


.challenge {
  // clip-path: circle(75%);
  // transform: translate(0);
  // position: static;
  display: block;
  transition: all 0.6s ease;
  // animation: appear 0.6s ease alternate forwards;

  &--hidden {
    display: none;
    // position: relative;
    transition: all 0.6s ease;
    // clip-path: circle(0%);
    // transform: translate(-10%, -40%);
    // animation: disappear 0.6s ease alternate forwards;
  }
}

// @keyframes disappear {
//   0% {
//     clip-path: circle(750%);
//     transform: translate(0);
//   }

//   50% {
//     clip-path: circle(35%);
//     transform: translate(-10%, -40%);
//   }

//   90% {
//     clip-path: circle(0%);
//     transform: translate(-10%, -40%);
//   }

//   100% {
//     transform: translate(-10%, -40%);
//   }
// }

// @keyframes appear {
//   0% {
//     clip-path: circle(5%);
//     transform: translate(-10%, -40%);
//   }

//   50% {
//     clip-path: circle(35%);
//   }

//   100% {
//     clip-path: circle(750%);
//     transform: translate(0);
//   }
// }

.challenge__text {
  font-size: $font-regular;
  text-shadow: $text-shadow;
}

.challenge__inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 290px;
  padding: 1.25rem;
}

.challenge__title {
  flex: 1;
  height: 100%;
  margin-bottom: 0.625rem;
  font-weight: 700;
  text-shadow: $text-shadow;

  @include for-size(phone) {
    font-size: $font-title;
  }
}

.challenge__tag-list {
  margin-bottom: 0.625rem;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 0.625rem;
    color: white;
    background: var(--color-title);
    border-radius: 50%;
    content: "e";
  }
}

.tag__badge {
  color: var(--color-title);
  font-size: 0.85rem;
}

.result-search__text {
  grid-column: -1/1;
  line-height: 1.5;
}

.result-search__link {
  color: $color-selection;
}
