// Challenges

.challenges {
  padding-bottom: 3.75rem;
}

.challenges__description {
  padding: 2.5rem 1.25rem 3.75rem;
}

.challenges__container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 1.25rem;
}


.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  gap: 1.25rem;
}

.filter__item {
  @include for-size(phone) {
    flex-grow: 1;
  }
}

.filter__button {
  color: $color-shade;
  font-weight: 700;
  font-size: $font-up;
  outline: none;

  &:hover,
  &:focus {
    color: $color-regular;
  }

  &.active {
    color: $color-regular;
  }
}

.challenges__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: $color-white;
  font-weight: 500;
  text-shadow: $text-shadow;
  border-radius: 0.313rem;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0), 0 4px 10px rgba(0, 0, 0, 0.25);

  &::before {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: (rgba(26, 26, 26, 0.1));
    border-radius: 0.313rem;
    opacity: 0;

    @include pseudo;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.5);

    &:hover::before,
    &:focus::before {
      opacity: 1;
    }
  }


  &:nth-child(odd) {
    background: linear-gradient(-45deg, hsl(207, 79%, 58%) 50%, hsl(207, 90%, 61%) 50%);
  }

  &:nth-child(even) {
    background: linear-gradient(-45deg, #e69d30 50%, #f3a633 50%);
  }

  &:nth-child(3n+4) {
    background: linear-gradient(-45deg, #e63067 50%, #f33363 50%);
  }

  &:nth-child(5n+4) {
    background: linear-gradient(-45deg, #60b163 50%, #66bb69 50%);
  }
}


.challenge {
  display: block;

  &--hidden {
    display: none;
    // animation: disappear 1s ease alternate forwards;
  }
}

// @keyframes disappear {
//   from {
//     position: relative;
//   }

//   to {
//     position: absolute;
//     top: 0;
//     left: 0;
//     // transform: translate(-25px, -50px);
//   }
// }

// .animation--delete {
//   animation: challenge-delete 2s ease forwards;
//   // clip-path: circle(75%);
//   // transform: scale(0.1);
// }

// @keyframes challenge-delete {
//   0% {
//     clip-path: circle(75%);
//   }

//   100% {
//     transform: scale(0.1);
//     clip-path: circle(35%);
//   }
// }

.challenge__text {
  font-size: $font-regular;
  text-shadow: $text-shadow;
}

.challenge__inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.25rem;

  &--hidden {
    pointer-events: none;
  }
}

.challenge__title {
  flex: 1;
  height: 100%;
  margin-bottom: 0.625rem;
  font-weight: 700;
  text-shadow: $text-shadow;

  @include for-size(phone) {
    font-size: $font-title;
  }
}

.challenge__tag-list {
  margin-bottom: 0.625rem;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &::before {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 0.625rem;
    background: $bg-input;
    border-radius: 50%;
    content: "";
  }
}

.tag__badge {
  color: $color-accent;
  font-size: 0.85rem;
}
