#clock {
  --clock-value: 400px;
  display: block;
  width: var(--clock-value);
  height: var(--clock-value);
  margin: 3rem auto;
  padding: 1rem;
  background: #e3edf7;
  border: 5px solid #e3edf7;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.58), -16px -2px 56px #ffffff, 16px 10px 48px rgba(136, 165, 191, 0.58);

  @include for-size(phone) {
    --clock-value: 290px;
  }
}
