.code__content-list + .code__text {
  margin-top: 1rem;
}

.text-regular {
  color: var(--color-title);
}

.result-color--apex {
  color: var(--color-apex);
}

.result-color--comments {
  color: var(--color-comments);
  font-style: italic;
}

.result-color--function {
  color: var(--color-function);
}

.result-color--function-name {
  color: var(--color-f-name);
}

.result-color--string {
  color: var(--color-string);
}

.result-color--method {
  color: var(--color-method);
}

.button {
  max-width: 15rem;
  margin: 0 auto;
  padding: 1rem 3rem;
  color: inherit;
  background: transparent;
  border-radius: 1.5rem;
  box-shadow:
    0 0 0 #ffffff,
    0.2rem 0.2rem 0.4rem rgba(136, 165, 191, 0.58);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow:
      0 0 0 #ffffff,
      0.2rem 0.2rem 0.8rem rgba(136, 165, 191, 0.58);
  }

  &--neumorph {
    box-shadow:
      inset 0 0 0 #ffffff,
      inset 0 0 0 rgba(136, 165, 191, 0.58),
      -5px -3px 0.5rem #ffffff,
      5px 3px 0.5rem rgba(136, 165, 191, 0.58);

    &:hover,
    &:focus {
      outline: none;
      box-shadow:
        inset -3px -3px 7px #ffffff,
        inset 3px 3px 7px rgba(136, 165, 191, 0.58),
        0 0 0 #ffffff,
        0 0 0 rgba(136, 165, 191, 0.58);
    }
  }

  &--fizzbuzz {
    margin-top: 1rem;
    // background: linear-gradient(45deg, #F1F5F8 0%, #EBF3FA 0.01%, #DDE7F3 53.92%, #E6F0F9 100%);
    box-shadow:
      inset 0 0 0 #f4f8fc,
      inset 0 0 0 #f4f8fc,
      inset 0 0 0 #cfd9e3,
      inset 0 0 0 #cfd9e3,
      inset 0 0 0 2px #e3edf7,
      inset 0 0 0 0 #ffffff,
      inset 0 0 0 3px rgba(136, 165, 191, 0.281),
      -4px -2px 1rem rgb(255, 255, 255),
      4px 2px 1rem rgba(136, 165, 191, 0.48);

    &:hover,
    &:focus {
      background: #e3edf7;
      box-shadow:
        inset 1px 0 0  #f4f8fc,
        inset 0 1px 0  #f4f8fc,
        inset -1px 0 0  #cfd9e3,
        inset 0 -1px 0  #cfd9e3,
        inset 0 0 0 4px #e3edf7,
        inset -3px -3px 7px 4px #ffffff,
        inset 3px 3px 7px 4px rgba(136, 165, 191, 0.48),
        0 0 0 #ffffff,
        0 0 0 rgba(136, 165, 191, 0.48);

      .code-method__button-text {
        // color: #68778a;
        color: transparentize($color: $text-color-main, $amount: 0.1);
        transform: scale(0.95);
      }
    }

    @include for-size(phone) {
      margin-top: 4rem;
    }
  }
}

.code-method__button-text {
  display: inline-block;
  transition: all 0.3s ease;
}

.code-method__result-text {
  text-shadow: $text-shadow;
}
