:root {
  --color-comments: #a0a1a7;
  --color-function: #429ef5;
  --color-f-name: #f81143;
  --color-string: rgb(80, 165, 77);
  --color-method: rgb(228, 137, 0);
  --color-apex: rgb(106, 0, 228);
  --color-main: linear-gradient(-45deg, #c3d1e4 0%, #dde7f3 53.92%, #d4e0ed 100%);
  --color-cards: linear-gradient(to bottom, #f1f5f8 0%, #ebf3fa 0.01%, #dde7f3 53.92%, #e5f0f9 100%);
  --color-title: #31456a;
  --bg-color-element: #e3edf7;
  --box-inner-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.58);
  --box-outer-shadow: -4px -2px 0.5rem #ffffff, 4px 2px 0.5rem rgba(136, 165, 191, 0.58);
  --box-inner-shadow-light: inset -3px -3px 7px #ffffff;
  --box-outer-shadow-light: -4px -2px 0.5rem #ffffff;
  --box-inner-shadow-dark: inset 3px 3px 7px rgba(136, 165, 191, 0.58);
  --box-outer-shadow-dark: 4px 2px 0.5rem rgba(136, 165, 191, 0.58);
  --shade: #d5dee7;
  --shade-2: #bfc7cf;
  --bg-input: #eaf5ff;
  --color-active: #f0f8ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: "Ubuntu", sans-serif;
  text-shadow: $text-shadow;
  transition: all 0.3s ease;
}

html {
  color: $color-regular;
  font-weight: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  color: var(--color-title);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: var(--bg-color-element);

  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  margin-bottom: 0;
  font-size: $font-up;
}

img {
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a,
button,
input,
::placeholder {
  color: inherit;
  font: inherit;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

::selection {
  text-shadow: none;
  background: #5a606836;
}

picture {
  display: block;
}

::placeholder {
  color: $color-shade;
}

ul {
  list-style-type: none;
}

dl {
  margin-bottom: 1.25rem;
  font-weight: normal;
  font-size: $font-up;
  line-height: 1.5;

  @include for-size(phone) {
    margin-bottom: 1.25rem;
    font-size: $font-regular;
  }
}

dt,
dd {
  color: inherit;
}

dt {
  float: left;
  margin-right: 0.3rem;
}

code {
  font-weight: 300;
  white-space: pre-wrap;
  text-shadow: $text-shadow;
  overflow-wrap: break-word;
}

abbr[title] {
  text-decoration: none;
  transition: all 0s ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  visibility: hidden;
  clip: rect (0 0 0 0);
}

.container {
  @include push--auto;
  max-width: 81.25rem;
  padding: 0 0.95rem;
}

.socials__icon {
  max-width: 29px;
  max-height: 21px;

  &--vk {
    width: 25px;
    height: 19px;
  }

  &--tw {
    width: 29px;
    height: 20px;
  }

  &--fb {
    width: 10px;
    height: 21px;
  }
}


// Удаляем все анимации и переходы для людей, которые предпочитай их не использовать
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
