$color-regular: #1a1a1a;
$color-accent: #fffcec;
$color-white: #ffffff;
$color-shade: #7f7f7f;
$color-shade-2: #d3d3d3;
$color-selection: #f8116a;
$color-comments: #a0a1a7;
$color-function: #B22FAF;
$color-f-name: #AF8A49;
$color-string: #79B670;
$color-method: #E97569;


$bg-regular: #ffffff;
$bg-input: #e8e8e8;

$text-shadow: 0 1px 1px rgba(26, 26, 26, 0.1);

$font-regular: 1rem;
$font-up: 1.125rem;
$font-title: 1.875rem;
$font-header: 2.875rem;

$brandValue: 2.875rem;
