header(class="header")
  nav(class="nav")
    ul(class="nav__list menu")
      li(class="menu__item"): a(class="menu__brand brand")
        span(class="brand__icon icon"): svg(class="icon__logo"): use(xlink:href="images/sprite.svg#sp-logo")
        span(class="brand__name") Ereburg
      li(class="menu__item search") 
        div(class="search__mobile")
          button(class="search__button search__button--search" type="button"): svg(class="icon__search"): use(xlink:href="images/sprite.svg#sp-search")
        div(class="search__wrapper")
          label(class="menu__label")
            input(class="menu__input" type="text" name="search" id="search" placeholder="Type to search...")
            span(class="search__icon icon" tabindex="0"): svg(class="icon__search"): use(xlink:href="images/sprite.svg#sp-search")
          button(class="search__button search__button--close", type="button", aria-label="Are you looking for something? Tap there."): svg(class="icon__search"): use(xlink:href="images/sprite.svg#sp-close")
      li(class="menu__item"): div(class="counter-wrapper"): p(class="menu__text counter"): span(class="counter__total")
